---
const { title, subTitle, tecnologies, numberCard } = Astro.props;
const modal = `my_modal_${numberCard}.showModal()`;
---

<button
  class="btn w-52 text-white"
  onclick={modal}>{title}</button
>
<dialog id=`my_modal_${numberCard}` class="modal modal-bottom sm:modal-middle">
  <form method="dialog" class="modal-box bg-black/90 backdrop-blur-sm text-white">
    <h3 class="font-bold text-lg">{subTitle}</h3>
    <div class="grid grid-cols-2 mt-9">
      {
        tecnologies.map((name: string) => {
          return <p class="p-1">{name}</p>;
        })
      }
    </div>
    <div class="modal-action">
      <button class="btn">Cerrar</button>
    </div>
  </form>
</dialog>
