---
import video from "../../public/video/bg.webm";
const paragraphs = [
  "Estoy emocionado de compartir contigo un vistazo a mi viaje artístico y profesional.",
  "Aquí encontrarás un escaparate de mis creaciones y proyectos que reflejan mi pasión y dedicación.",
  "Cada pieza cuenta una historia única y cada diseño lleva consigo un fragmento de mi alma.",
];
---

<section
  id="home"
  class="landing-section bg-black h-screen w-full text-center relative sm:overflow-hidden text-white"
  data-header-color="white"
>
  <div class="z-30 relative h-full flex flex-col">
    <header class="pt-14 sm:pt-40">
      <div class="mx-10 rounded-lg z-40 relative">
        <h2
          class="font-semibold text-3xl py-5 px-10 hover:text-[#dfdfdf] duration-500"
        >
          👋 ¡<strong>Hola</strong> y bienvenido a mi <strong>Mundo</strong> Creativo!
        </h2>
        <div class="hidden sm:block">
          {
            paragraphs.map((paragraph) => {
              return (
                <p class="text-xl py-1 px-10 text-left hover:text-[#dfdfdf] duration-500">
                  {paragraph}
                </p>
              );
            })
          }
        </div>
        <div class="block sm:hidden">
          <p
            id="corousel-paragraphs-0"
            class="text-xl py-1 px-10 text-left hover:text-[#dfdfdf] duration-500"
          >
            Estoy emocionado de compartir contigo un vistazo a mi viaje
            artístico y profesional.
          </p>
        </div>
      </div>

      <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <video
          class="object-cover object-center h-full w-full opacity-70"
          autoplay
          muted
          loop
          src={video}></video>
      </div>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-32 sm:pb-24 z-40 relative">
      <div>
        <a
          class="nav-link border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black duration-500 transition-colors"
          href="#about"
        >
          ¡Empecemos!</a
        >
      </div>
    </footer>
  </div>
</section>

<!-- 

    <div
        class="bg-[#5d6c88] rounded-2xl max-w-fit [&>div>a]:mx-8 [&>div>a>img]:h-9 py-1 my-5"
      >
        <h2 class="py-2 font-semibold">Mis Redes</h2>
        <div class="flex">
          <a href="https://www.instagram.com/joha.ortizz/" target="_blank">
            <img src={instagram} alt="instagram-logo" />
            <small>Instagram</small></a
          >
          <a href="https://www.linkedin.com/in/johatris/" target="_blank">
            <img src={linkedin} alt="linkedIn-logo" />
            <small>LinkedIn</small></a
          >
          <a href="https://github.com/johaortiz" target="_blank">
            <img src={github} alt="gitHub-logo" />
            <small>GitHub</small></a
          >
        </div>
 -->
