---
const {
    img,
    nameImg,
    numberItem,
    title,
    paragraphs,
    gitGubLink,
    projectLink,
    tecnologies,
} = Astro.props;
const modal = `my_modal_${numberItem}.showModal()`;
---

<div class="hidden duration-700 ease-in-out" data-carousel-item>
    <button class="" onclick={modal}>
        <img
            src={img}
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt={nameImg}
        />
    </button>
</div>

<dialog id=`my_modal_${numberItem}` class="modal modal-bottom sm:modal-middle">
    <form
        method="dialog"
        class="modal-box bg-black/75 backdrop-blur-sm text-white"
    >
        <h3 class="font-bold text-3xl">{title}</h3>
        <div class="mt-5 text-left">
            <h4 class="font-bold text-lg text-center py-1">
                Objetivos del Proyecto
            </h4>
            {
                paragraphs.map((text: string, i: number) => {
                    return (
                        <p class="p-1">
                            {i % 2 === 0 ? "⚫" : "🔘"}
                            {text}
                        </p>
                    );
                })
            }
        </div>
        <h4 class="font-bold text-lg text-center py-1">
            Tecnologías Utilizadas
        </h4>
        <span>{tecnologies.join(" - ")}</span>
        <div class="modal-action">
            <a href={projectLink} target="_blank">
                <button class="btn">Proyecto</button>
            </a>
            <a href={gitGubLink} target="_blank">
                <button class="btn">GitHub</button>
            </a>
            <button class="btn">Cerrar</button>
        </div>
    </form>
</dialog>
