---
import ItemCarousel from "./ItemCarousel.astro";
import projectImg from "../../public/pictures/projects.jpg";
import moviesP from "../../public/pictures/projects/movies.png";
import booksPf from "../../public/pictures/projects/booksPf.png";
import dogsPi from "../../public/pictures/projects/dogsPi.png";
import matrix from "../../public/pictures/projects/matrix.png";

const dogs = {
    paragraphs: [
        "Construir una App utilizando React, Redux, Node y Sequelize",
        "Para afianzar y conectar los conceptos aprendidos en el curso",
        "Aprender buenas prácticas",
        "Aprender y practicar el flujo de trabajo de GIT",
        "Utilizar y practicar testing",
    ],
    tecnologies: ["React", "Redux", "Css", "NodeJs"],
};

const university = {
    paragraphs: [
        "Resolver problemas simples de matrices",
        "Ser capaz de resolverlo en código",
    ],
    tecnologies: ["React", "JavaScript", "DaisyUi", "Tailwind"],
};

const books = {
    paragraphs: [
        "Construir un E-commerce utilizando React, Redux, Node y Sequelize",
        "Aprender buenas prácticas",
        "Aprender y practicar Git-Flow",
        "Liderar un equipo",
    ],
    tecnologies: [
        "React",
        "Redux",
        "DaisyUi",
        "Tailwind",
        "Mui",
        "NodeJs",
        "Sequelize",
        "jwt",
        "Postgres",
        "Paypal",
        "Google OAuth2",
        "Cloudinary",
    ],
};

const movies = {
    paragraphs: [
        "Construir una App utilizando React y Redux",
        "Aprender buenas prácticas",
        "Aprender sobre el ecosistema de React",
        "Aprender sobre el ecosistema de Redux",
        "Aprender sobre React Hooks",
    ],
    tecnologies: ["React", "Redux", "Css", "NodeJs"],
};
---

<section
    id="projects"
    class="landing-section bg-[#8c8c92] h-screen w-full text-center relative overflow-hidden text-white"
    data-header-color="white"
>
    <div class="z-30 relative h-full flex flex-col">
        <header class="pt-20 z-40">
            <div class="mx-2 my-10 rounded-lg z-40 relative">
                <h2
                    class="font-semibold text-center text-3xl py-5 px-10 hover:text-[#dfdfdf] duration-500"
                >
                    Explorando mis proyectos
                </h2>
                <div
                    id="default-carousel"
                    class="relative w-full duration-[2000ms]"
                    data-carousel="static"
                >
                    <!-- Carousel wrapper -->
                    <div
                        class="relative h-56 overflow-hidden rounded-lg md:h-96"
                    >
                        <ItemCarousel
                            img={moviesP}
                            nameImg="movies-bg"
                            numberItem="3"
                            title="Películas"
                            paragraphs={movies.paragraphs}
                            tecnologies={movies.tecnologies}
                            gitGubLink="https://github.com/johaortiz/movies-react"
                            projectLink="https://movies-react-delta.vercel.app/"
                        />
                        <ItemCarousel
                            img={booksPf}
                            nameImg="books-bg"
                            numberItem="4"
                            title="Libro Paraíso"
                            paragraphs={books.paragraphs}
                            tecnologies={books.tecnologies}
                            gitGubLink="https://github.com/boogy2207/deployBoggy"
                            projectLink="https://www.libroparaiso.com.ar/"
                        />
                        <ItemCarousel
                            img={dogsPi}
                            nameImg="dogs-bg"
                            numberItem="5"
                            title="Perritos Malvados"
                            paragraphs={dogs.paragraphs}
                            tecnologies={dogs.tecnologies}
                            gitGubLink="https://github.com/johaortiz/Dogs-PI"
                            projectLink="https://www.perritosmalvados.com.ar/"
                        />
                        <ItemCarousel
                            img={matrix}
                            nameImg="matrix-bg"
                            numberItem="6"
                            title="Calculadora de Matríces"
                            paragraphs={university.paragraphs}
                            tecnologies={university.tecnologies}
                            gitGubLink="https://github.com/johaortiz/matrices.github.io"
                            projectLink="https://matrices-six.vercel.app/"
                        />
                    </div>
                    <!-- Slider indicators -->
                    <div
                        class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2"
                    >
                        <button
                            type="button"
                            class="w-3 h-3 rounded-full"
                            aria-current="true"
                            aria-label="Slide 1"
                            data-carousel-slide-to="0"></button>
                        <button
                            type="button"
                            class="w-3 h-3 rounded-full"
                            aria-current="false"
                            aria-label="Slide 2"
                            data-carousel-slide-to="1"></button>
                        <button
                            type="button"
                            class="w-3 h-3 rounded-full"
                            aria-current="false"
                            aria-label="Slide 3"
                            data-carousel-slide-to="2"></button>
                        <button
                            type="button"
                            class="w-3 h-3 rounded-full"
                            aria-current="false"
                            aria-label="Slide 4"
                            data-carousel-slide-to="3"></button>
                    </div>
                    <!-- Slider controls -->
                    <button
                        type="button"
                        class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                        data-carousel-prev
                    >
                        <span
                            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
                        >
                            <svg
                                class="w-4 h-4 text-white dark:text-gray-800"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 6 10"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M5 1 1 5l4 4"></path>
                            </svg>
                            <span class="sr-only">Previous</span>
                        </span>
                    </button>
                    <button
                        type="button"
                        class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                        data-carousel-next
                    >
                        <span
                            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
                        >
                            <svg
                                class="w-4 h-4 text-white dark:text-gray-800"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 6 10"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m1 9 4-4-4-4"></path>
                            </svg>
                            <span class="sr-only">Next</span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="absolute top-0 bottom-0 h-full w-full z-10">
                <img
                    class="object-cover object-center h-full w-full top-0 bottom-0"
                    src={projectImg}
                    alt="bg"
                />
            </div>
            <footer
                class="flex flex-col sm:flex-row flex-grow justify-end sm:justify-center items-center z-40 relative [&>button]:m-3"
            >
            </footer>
        </header>
    </div>
</section>
